@page "/"

<PageTitle>StarSector Web Tools by Kazbek</PageTitle>

<h1>StarSector Web Tools by Kazbek</h1>

Ces outils sont conçus pour simplifier le processus de création d'une traduction pour le jeu StarSector. Si vous avez des questions, veuillez contacter <a target="_blank" href="https://github.com/Kazbek/StarSectorLocalizer">GitHub</a> ou sur un serveur à <a target="_blank" href="https://discord.com/channels/491062665897312256/1021839267749695560">Discord</a>
